<!doctype html>
<html>
<head>
  <title>{{ title | default("Unknown Page") }} | WhyTorch</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="color-scheme" content="dark">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/img/android-chrome-512x512.png">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
  <button class="hamburger" onclick="toggleSidebar()">
    all methods
  </button>
  <div class="main-container">
    <div class="sidebar" id="sidebar">
      <div class="sidebar-header">
        <a href="/">WhyTorch</a>
      </div>
      <div class="sidebar-content" id="sidebar-content">
        <!-- Methods will be populated by JavaScript -->
      </div>
    </div>
    <div class="main-content-pane">
      <div class="main-content">
        <div id="title">{{ title | default("Unknown Page") }}</div>
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
  <script src="/js/tensor.js"></script>
  {% if js %}<script src="{{ js }}"></script>{% endif %}
  <script src="/js/main.js"></script>
</body>
</html>
