---
title: WhyTorch
layout: layout.njk
---
<p>This is a learning tool designed to teach you how various <a href="https://pytorch.org/">PyTorch</a> functions work.</p>

<p>Try out some of my favorites:</p>

<ul>
    <li><a href="/torch.gather/">torch.gather</a></li>
    <li><a href="/torch.amax/">torch.amax</a></li>
    <li><a href="/torch.matmul/">torch.matmul</a></li>
</ul>

<p>Only a subset of functions have been added to the site (starting with the ones I thought most needed explanation).
More coming soon - or see <a href="https://github.com/Kukanani/whytorch">the GitHub repo</a> to see how you can help!</p>

<p>You can also jump directly to the WhyTorch explanation of a function from the PyTorch documents.
Change the URL from <code>docs.pytorch.org/...</code> to <code>docs.whytorch.org/...</code> and it should seamlessly redirect to WhyTorch
corresponding to that function.</p>

<img src="img/whytorch_v1_url.gif" alt="an animated GIF showing how changing the URL of a PyTorch documentation page goes directly to the corresponding WhyTorch page."/>

<p class="colophon">Made by <a href="https://allevato.me">Adam Allevato</a> in 2025.</p>