---
title: WhyTorch
layout: layout.njk
---
<p>This is a learning tool designed to teach you how various <a href="https://pytorch.org/">PyTorch</a> functions work.</p>

<p>Try out some of my favorites:</p>

<ul>
    <li><a href="/torch.gather/">torch.gather</a></li>
    <li><a href="/torch.matmul/">torch.matmul</a></li>
</ul>


<p>Only a subset of functions have been added to the site (starting with the ones I thought most needed explanation). More coming soon!</p>

<p><em>This site was made by <a href="https://allevato.me">Adam Allevato</a> in 2025.</em></p>