---
layout: layout.njk
title: torch.slice_scatter
js: /js/functions/torch.slice_scatter.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
