---
layout: layout.njk
title: torch.cartesian_prod
js: /js/functions/torch.cartesian_prod.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
