---
layout: layout.njk
title: torch.concatenate
js: /
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="explanation"><p style="text-align:center;">Alias for <a href="/torch.concatenate/"><code>torch.concatenate</code></a>.<p></div>

