---
layout: layout.njk
title: torch.bitwise_right_shift
js: /js/functions/torch.bitwise_right_shift.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
