---
layout: layout.njk
title: torch.searchsorted
js: /js/functions/torch.searchsorted.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
