---
layout: layout.njk
title: torch.cumulative_trapezoid
js: /js/functions/torch.cumulative_trapezoid.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
