---
layout: layout.njk
title: torch.scatter_reduce
js: /js/functions/torch.scatter_reduce.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
