---
layout: layout.njk
title: torch.broadcast_to
js: /js/functions/torch.broadcast_to.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
