---
layout: layout.njk
title: torch.select_scatter
js: /js/functions/torch.select_scatter.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
