---
layout: layout.njk
title: torch.resolve_conj
js: /js/functions/torch.resolve_conj.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
