---
layout: layout.njk
title: torch.floor_divide
js: /js/functions/torch.floor_divide.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
