---
layout: layout.njk
title: torch.concatenate
js: /js/functions/torch.concatenate.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>

