---
layout: layout.njk
title: torch.combinations
js: /js/functions/torch.combinations.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
