---
layout: layout.njk
title: torch.concat
js: /
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="explanation"><p style="text-align:center;">Alias for <a href="/torch.cat/"><code>torch.cat</code></a>.<p></div>

