---
layout: layout.njk
title: torch.tril_indices
js: /js/functions/torch.tril_indices.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
