---
layout: layout.njk
title: torch.take_along_dim
js: /js/functions/torch.take_along_dim.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
