---
layout: layout.njk
title: torch.matrix_power
js: /js/functions/torch.matrix_power.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
