---
layout: layout.njk
title: torch.bitwise_left_shift
js: /js/functions/torch.bitwise_left_shift.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
