---
layout: layout.njk
title: torch.repeat_interleave
js: /js/functions/torch.repeat_interleave.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
