---
layout: layout.njk
title: torch.broadcast_tensors
js: /js/functions/torch.broadcast_tensors.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
