---
layout: layout.njk
title: torch.column_stack
js: /js/functions/torch.column_stack.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
