---
layout: layout.njk
title: torch.conj_physical
js: /js/functions/torch.conj_physical.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
