---
layout: layout.njk
title: torch.index_select
js: /js/functions/torch.index_select.js
---
<div id="sourceCode"></div>
<div id="tensors"></div>
<div id="equation"></div>
<div id="explanation"></div>
